html, body {
	background-color: #F4F3EE;
    font-family: "Helvetica";
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

img {
    width: 100%;
}

#questionBlock {
    text-align: center;
    font-family: "Helvetica";
    font-size: 25px;
    width: 750px;
    margin: 7% auto;
}

#textInput {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #C6D7E7;
	border-radius: 5px;
	font-family: "Helvetica";
	font-size: 20px;
}

#mainButton {
	font-size: 20px;
	padding: 26px 16px;
	border-radius: 15px;
	background-color: #C6D7E7;
	color: black;
	font-family: "Helvetica";
	border: 0px;
	cursor: pointer;
}
#mainButton:hover {
    background-color: #A4BFD8;
}

#answer {
	display: none;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#greetingText {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#loader {
	display: none;
    position: relative;
    color: #C6D7E7;
}
#loader:before {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 20em;
    white-space: nowrap;
    color: black;
    animation: loading 4s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

#infoTextBlock {
    width: 55.5%;
    font-family: "Helvetica";
    display: inline-block;
    margin: 0% auto;
}

#mainInfoBlock {
    display: none;
    margin: 7% auto;
}

.tablink {
    padding: 14px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    width: 25%;
    background-color: #6389AC;
    color: white;
    font-size: 17px;
    font-family: "Helvetica";
}

.tablink:hover {
    background-color: #457199;
}

#vasylSleepingImage {
    width: 25%;
    height: 25%;
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.leftPhotoBlock {
    width: 21%;
    display: inline-block;
}

.rightPhotoBlock {
    width: 21%;
    display: inline-block;
}