body {
	background-color: #F4F3EE;
}

.mainClass {
    text-align: center;
    font-family: "Helvetica";
    font-size: 25px;
}

#textInput {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #C6D7E7;
	border-radius: 5px;
	font-family: "Helvetica";
	font-size: 20px;
}

#mainButton {
	font-size: 20px;
	padding: 26px 16px;
	border-radius: 15px;
	background-color: #C6D7E7;
	color: black;
	font-family: "Helvetica";
	border: 0px;
	cursor: pointer;
}

#answer {
	display: none;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#greetingText {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

/*#loader {
	display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

#loader {
	display: none;
    position: relative;
    color: #C6D7E7;
}
#loader:before {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 20em;
    white-space: nowrap;
    color: black;
    animation: loading 4s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}