html, body {
	background-color: #F4F3EE;
    font-family: "Helvetica";
}

h2 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
}

h3 {
    text-decoration: underline;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

img {
    width: 100%;
}

#questionBlock {
    display: none;
    text-align: center;
    font-family: "Helvetica";
    font-size: 25px;
    width: 750px;
    margin: 7% auto;
}

#textInput {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #C6D7E7;
	border-radius: 5px;
	font-family: "Helvetica";
	font-size: 20px;
}

#mainButton {
	font-size: 20px;
	padding: 26px 16px;
	border-radius: 15px;
	background-color: #C6D7E7;
	color: black;
	font-family: "Helvetica";
	border: 0px;
	cursor: pointer;
}
#mainButton:hover {
    background-color: #A4BFD8;
}

#answer {
	display: none;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#greetingText {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#loader {
	display: none;
    position: relative;
    color: #C6D7E7;
}
#loader:before {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 20em;
    white-space: nowrap;
    color: black;
    animation: loading 4s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

#infoTextBlock {
    width: 57.12%;
    font-family: "Helvetica";
    display: inline-block;
    margin: 0% auto;
    padding: 0%;
    vertical-align: 20%;
}

#mainInfoBlock {
    display: none;
    margin: 7% auto;
}

.tablink {
    padding: 14px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    width: 25%;
    background-color: #6389AC;
    color: white;
    font-size: 17px;
    font-family: "Helvetica";
}

.tablink:hover {
    background-color: #457199;
}

#vasylSleepingImage {
    width: 25%;
    height: 25%;
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.leftPhotoBlock {
    width: 21%;
    display: inline-block;
    margin: 0% auto;
    vertical-align: top;
}

.rightPhotoBlock {
    width: 21%;
    display: inline-block;
    margin-right: 0%;
    vertical-align: top;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #6389AC;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

#gameCanvas {
    border: 1px solid black;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: blue;
}